.content{
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.content a{
    text-decoration: none;
}

.content-container{
    display: flex;
    justify-content: center;
}

.col-1, .col-2, .col-3{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: auto;
}
.college-container{
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #BD0F03;
    width: 400px;
    padding: 15px;
    color: white;
    border-radius: 20px;
    height: 150px;
}

.alt-color{
    background-color: #ee948e;
}

.college-container h2{
    font-size: 21px;
}

.logo-item{
    width: 100px;
    height: 100px;
}

.content{
    padding: 50px
}
