main {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter";
}
.banner {
    width: 100%;
    height: 200px;
    background: linear-gradient(#BD0F03, #BD0F03), 
                url('../imgs/banner-img.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-bottom: 30px;
}

.container-instruction{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container-instruction p {
    background-color: transparent;
    width: 80%;
}
.intro-admission h1 {
    text-align: center;
    font-family: "Poppins";
    margin-top: 30px;
    font-size: 42px;
}

.intro-admission p {
    font-family: "Poppins";
    font-size: 23px;
}

.intro-admission {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 10px 30px 30px 30px;
    margin-bottom: 0; /* Decrease space below intro-admission */
}

.slides-container {
    display: flex;
    height: 100%;
}

.grid-gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 items per row */
    gap: 15px;
    padding: 20px;
    justify-items: center;
    margin-top: 0; /* Decrease space above grid-gallery */
}

.grid-gallery img {
    width: 100%;
    max-width: 450px; /* Slightly larger image size */
    height: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    cursor: pointer; /* Make images clickable */
}

.grid-gallery img:hover {
    transform: scale(1.05);
}

.invisible-div {
    visibility: hidden;
}

.carousel-overlay {
    position: fixed !important; /* Ensure it is fixed on the screen */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1050; /* Higher than other elements */
    display: none;
    justify-content: center;
    align-items: center;
}

.carousel-overlay .carousel-inner {
    width: 80%; /* Adjust width to fit better */
    height: 90%; /* Increase height */
}

.carousel-overlay .carousel-item img {
    height: 100%; /* Ensure images fit the height */
    object-fit: contain; /* Maintain aspect ratio */
    image-rendering: auto; /* Ensure images are not blurred */
}

.carousel-overlay .carousel-control-prev,
.carousel-overlay .carousel-control-next {
    width: 10%; /* Ensure buttons are clickable */
    z-index: 1060; /* Ensure buttons are above the overlay */
    cursor: pointer; /* Make buttons clickable */
}
